<div class="w-screen h-screen flex justify-center items-center">
  <form #form="ngForm" (ngSubmit)="handleLogin(form)" class="w-full flex flex-col gap-2 sm:w-[70%] md:w-[30%] bg-gray-100 p-4 rounded-lg space-y-4">
    <h1 class="text-center capitalize text-2xl font-bold">Login</h1>

    <!-- Email -->
    <div class="flex flex-col gap-1">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        ngModel
        placeholder="Enter email"
        class="px-3 py-2 border rounded"
      />
    </div>

    <!-- Password -->
    <div class="flex flex-col gap-1">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        ngModel
        placeholder="Enter password"
        class="px-3 py-2 border rounded"
      />
    </div>

    <!-- Submit -->
    <app-button type="submit" [isLoading]='isLoading' label="Login" ></app-button>

    <!-- Link -->
    <a routerLink="/signup" class="text-center text-blue-600 underline mt-2">Don't have an account? Sign up</a>
  </form>
</div>
